@font-face {
    font-family: RockSalt;
    src: url('vendor/RockSalt.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url('vendor/QuattrocentoSans-Regular.ttf');
}

html, body {
  min-height: 100%;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  font-size: 4em;

/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}

.title h1 {
  font-family: RockSalt, sans-serif;
}

#img {
  height:500px;
  width:800px;
  background-image: url("http://www.online-image-editor.com//styles/2014/images/example_image.png");
}

.container {
  text-align: center;
}

.weather {
  float:right;
}

.clock {
  float:left;
}

.title {
  margin: 0 auto;
  text-align: center;
}



.container-fluid {
  position: relative;
  min-height: 100%;
}

.row {
  /*min-height: 33%;*/
}

.col-sm-4 {
  border: 1px solid red;
  height: 33vh;
  width: 33vw;
  /*min-height: 100%;*/
}

.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.line-clamp:hover {
    overflow : hidden;
    text-overflow: ellipsis;
    top: -258px;
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}
