<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Nomadr</title>
    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
</head>

<body style="background-image:url({{bgImg}})" ng-app="app" ng-controller="MainController as mainCtrl">

    <!-- create user -->
    <div ng-switch on="mainCtrl.tab">
        <div ng-switch-when="signup">
            <form ng-submit="mainCtrl.signUp()" name="signUpForm">
                <input type="text" placeholder="Your name" name="uName" ng-model="mainCtrl.user.name" required>
                <input type="email" placeholder="email address" name="uEmail" ng-model="mainCtrl.user.email" required>
                <input type="text" placeholder="city" name="uCity" ng-model="mainCtrl.user.city" required>
                <input type="password" placeholder="password" name="uPassword" ng-model="mainCtrl.user.password" required>
                <input type="submit" value="heya" ng-disabled="signUpForm.$invalid">
            </form>
        </div>
        <div ng-switch-when="login">
        </div>
        <div ng-switch-when="user">
            <div class="container-fluid">

                <!-- row 1 --> 
                <div class="row">
                    <div class="col-sm-4"><!-- .col-sm-1 -->
                        <div class="clock">{{}}(Clock here)</div>
                    </div>
                    <div class="col-sm-4"><!-- .col-sm-2 -->
                        <div class="title">
                            <h1>{{title}}</h1>
                            <h4>Welcome, {{currentUser['name']}}</h4>
                            <h5>You're planning to go to {{currentUser['city']}} on {{currentUser['date']}} (placeholder)</h5>
                        </div>
                    </div>
                    <div class="col-sm-4"><!-- .col-sm-3 -->
                        <div class="weather">
                            <p>{{weather['name']}}</p>
                            <img src="http://openweathermap.org/img/w/{{weather['weather'][0]['icon']}}.png">
                            <p>{{weather['weather'][0]['main']}}</p>
                            <p>{{farenheit(weather['main']['temp'])}} °F</p>
                        </div>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row">
                  <div class="col-sm-4"><!-- .col-sm-4 --></div>
                  <div class="col-sm-4"><!-- .col-sm-5 --></div>
                  <div class="col-sm-4"><!-- .col-sm-6 --></div>
                </div>

                <!-- row 3 -->
                <div class="row">
                  <div class="col-sm-4"><!-- .col-sm-7 --></div>
                  <div class="col-sm-4"><!-- .col-sm-8 --></div>
                  <div class="col-sm-4"><!-- .col-sm-9 --></div>
                </div>
            </div>
        </div>
    </div>


    <script src="main.ctrl.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
