<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Nomadr</title>

    <link rel="stylesheet" type="text/css" href="vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="app.css">


    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
    geocoder = new google.maps.Geocoder()
    </script>
</head>

<body style="background-image:url({{bgImg}})" ng-app="app" ng-controller="MainController as mainCtrl">

    <!-- create user -->
    <div ng-switch on="tab">
        <div ng-switch-when="signup">
            <form ng-submit="signUp()" name="signUpForm">
                <input type="text" placeholder="Your name" name="uName" ng-model="mainCtrl.user.name" required><br>
                <input type="email" placeholder="email address" name="uEmail" ng-model="mainCtrl.user.email" required><br>
                <input type="text" placeholder="city" name="uCity" ng-model="mainCtrl.user.city" required><br>
                <input type="password" placeholder="password" name="uPassword" ng-model="mainCtrl.user.password" required><br>
                <input type="submit" value="go" ng-disabled="signUpForm.$invalid">
            </form>
        </div>
        <div ng-switch-when="login">
        </div>
        <div ng-switch-when="user">
            <div class="container-fluid">

                <!-- row 1 --> 
                <div class="row">
                    <div class="col-sm-4"><!-- .col-sm-1 -->
                        <div class="clock">{{}}(Clock here)</div>
                    </div>
                    <div class="col-sm-4"><!-- .col-sm-2 -->
                        <div class="title">
                            <h1>{{title}}</h1>
                            <h4>Welcome, {{currentUser['name']}}</h4>
                            <h5>You're planning to go to {{currentUser['city']}} on {{currentUser['date']}} (placeholder)</h5>
                        </div>
                    </div>
                    <div class="col-sm-4"><!-- .col-sm-3 -->
                        <div class="weather">
                            <p>{{weather['name']}}</p>
                            <img src="http://openweathermap.org/img/w/{{weather['weather'][0]['icon']}}.png">
                            <p>{{weather['weather'][0]['main']}}</p>
                            <p>{{farenheit(weather['main']['temp'])}} °F</p>
                        </div>
                    </div>
                </div>

                <!-- row 2 -->
                <div class="row">
                  <div class="col-sm-4"><!-- .col-sm-4 --></div>
                  <div class="col-sm-4"><!-- .col-sm-5 --></div>
                  <div class="col-sm-4"><!-- .col-sm-6 --></div>
                </div>

                <!-- row 3 -->
                <div class="row">
                  <div class="col-sm-4"><!-- .col-sm-7 --></div>
                  <div class="col-sm-4">
                    <div class="line-clamp">
                        <p ng-bind-html="wiki_data"></p>
                       <!-- {{wiki_data}} -->
                    </div>
                  </div>
                  <div class="col-sm-4"><!-- .col-sm-9 --></div>
                </div>
            </div>
        </div>
    </div>

    <!-- VENDOR -->
    <script src="vendor/jquery.js"></script>
    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/angular.js"></script>
    <!-- TODO: add this as local library rather than CDN -->
    <script src="vendor/angular-sanitize.js"></script>


    <!-- CUSTOM -->
    <script src="main.ctrl.js"></script>
</body>
</html>
