/*======= FONTS =========*/
@font-face {
    font-family: RockSalt;
    src: url('../vendor/RockSalt.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url('../vendor/QuattrocentoSans-Regular.ttf');
}

/*======= TRANSITIONS =========*/
@-webkit-keyframes fadein {
  from{ opacity: 0; }
  to  { opacity: 1; }
}

@-webkit-keyframes fadeout {
  from{ opacity: 1; }
  to  { opacity: 0; z-index: 0;}
}

/* consider adding .background-splash*/
html, body, .background, .container-fluid {
  /*-webkit-animation: fadein 1s;*/
}

html, body, .background, .container-fluid {
  -webkit-animation: fadein 1s;
}



form{
  -webkit-animation: fadein 1s forwards;
}

/*============================*/

html, body {
  min-height: 100%;
}

body {
  top:0;
  margin:0;
}

.white_div {
  display: block;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-animation: fadeout 1s forwards;
  -webkit-animation-delay: 1s;
}

/*FIXME*/
/*.splash_button_signin, .splash_button_signup{
  -webkit-animation: fadein 4s;
  animation: fadein 4s;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}*/


/*.container-fluid{
  margin-top:0;
}
*/

/* LOGIN FORM*/
form {
  color:black;
  display: block;
  position: relative;
  padding-top: 3%;
}

form input {
  background:rgba(48, 25, 25, .2);

  border: none;
  margin-top: 10px;

  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

/* Play with this: http://www.css3maker.com/css-3-rgba.html*/
input:focus{
    background:rgba(48, 25, 25, .5);
    outline: none;
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

:-ms-input-placeholder {
   color: #aaa;
   background-color: white;
   opacity: 0.75;
   text-align: center;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 6px black;
    width:436px
}

.signin-form input[type="email"] {
  margin-left: 100px;
}

/*submit button*/
input[type="submit"] {
  border: 1px solid #fff;
  background: green;
  width: 100px;
  height: 60px;
  box-shadow: 2px 2px 10px #000;
  color: #fff;
  font-size: 0.8em;
  /*padding: 4px 25px 4px 25px;*/
  text-shadow: 1px 1px 5px #000;
  background: rgba(48, 135, 43, 0);
  opacity: 0;
  vertical-align: top;
  /*visibility: hidden;*/

  -webkit-transition: background 1s, border-color 1s, opacity 1s, hover 1s, box-shadow 1s, border-radius 1s, width 0.5s, height 0.5s, -webkit-transform 0.1s;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties*/
input[type="submit"]:valid{
  background: rgba(48, 135, 43, 0.5);
  opacity: 1;
}

input[type="submit"]:valid:hover{
  background: rgba(48, 135, 43, 1.0);
  box-shadow: 0px 2px 18px #000;
  /*width: 90px;*/
  /*height: 90px;*/
  /*border-radius: 100%;*/
  opacity: 1;
}

/*on button click*/
input[type="submit"]:valid:active{
  -webkit-transform: translateY(3px);
  box-shadow: 0px 0px 4px #000;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  font-size: 4em;

/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}

.logo {
  font-family: RockSalt, sans-serif;
}
.logo h1 {
  margin:0;
  padding-top: 2%;
  font-size: 1.5em;
}

.logo h4{
  font-size: 0.7em;
  position: absolute;
  display: block;
  /*padding-right: 4%;*/
  right: 20;
  bottom: 40;
  vertical-align: bottom;
  margin-right: 3%;
}

.welcome h2 {
  margin:0;
  padding-top: 10%;
  font-size: 0.7em;
}

#img {
  height:500px;
  width:800px;
  background-image: url("http://www.online-image-editor.com//styles/2014/images/example_image.png");
}

.container {
  text-align: center;
}

.weather {
  float:right;
  margin-top: 3%;
  margin-right: 3%;
}

.clock {
  float:left;
  margin-top: 3%;
  margin-left: 3%;
}
}

.title {
  margin: 0 auto;
  text-align: center;
}

.title h4 {
  font-size: 1.5em;
}

.title h5 {
  font-size: .6em;
}



.container-fluid {
  position: relative;
  min-height: 100%;
}

.row {
  /*min-height: 33%;*/
}

.col-sm-4 {
  /*provides grid view*/
  border: 1px solid red;
  height: 33vh;
  width: 33vw;
  /*min-height: 100%;*/
}

.col-sm-4 img {
  min-width: 100px;
  /*border: 1px solid blue;*/
  -webkit-filter: grayscale(100%);
}

.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    position: relative;

    top: 80px;
    left: -140px;
    width: 670px;

    font-size: 0.7em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-transition: top 1.2s, opacity 1s;
    /*background:rgba(48, 25, 25, .8);*/
}

.line-clamp a:link, .line-clamp a:visited, .line-clamp a:hover, .line-clamp a:active{
  color:white;
  text-decoration: none;
}

/*TO DO.  CURRENTLY DOES NOT WORK*/
/*.line-clamp::-webkit-scrollbar-track{
  border: none;
  opacity: 0;
}
*/
/*html::-webkit-scrollbar-track{*/
  /*border: none;*/
  /*background-color: red !important;*/
  /*opacity: 0;*/
/*}*/

.line-clamp:hover {
    overflow : hidden; /*change to scroll for effect*/
    text-overflow: ellipsis;
    /*top: -280px;*/
    top: -270px;
    left: -140px;
    width: 670px;
    font-size: 0.7em;
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.line-clamp:hover > .modal {
  opacity: 0.7;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: radial-gradient(circle, white, black);*/
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  /*height:100vh;*/
  width:100vw;
  text-align: center;
  opacity:0.9;
  /*z-index: 0;*/
}

.background-splash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: radial-gradient(circle, white, black);*/
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  height:100vh;
  width:100vw;
  text-align: center;
  opacity:0.8;
}

/*SPLASH PAGE*/
.splash_button_signin, .splash_button_signup {
  border: 2px solid white;
  background: rgba(255, 171, 0, 0.2);
  width: 200px;
  margin: 6% auto;
  display: inline-block;
  color: #fff;

  box-shadow: 0px 3px 19px #000;

  -webkit-transition: -webkit-transform 0.2s, background 1.5s;
}

.splash_button_signin:hover, .splash_button_signup:hover{
  /*-webkit-transform: translate(0px, -10px);*/
  background: rgba(255, 171, 0, 1.0);

}

.splash_button_signin:active{
  -webkit-transform: translate(-5px, 5px);
}
.splash_button_signup:active{
  -webkit-transform: translate(5px, 5px);
}

.modal{
  background: #000;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  -webkit-transition: opacity 1s;
}

.line-clamp:hover > .modal {
  opacity: 0.6;
}

.vignette{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: radial-gradient(circle, #aaa, #000);*/
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  height:100vh;
  width:100vw;
  opacity: 0.4;
  z-index: -1;
  display: block;
  position: fixed;
}

.logout{
  position: absolute;
  display: block;
  padding-left: 4%;
  left: 0;
  bottom: 0;
  vertical-align: bottom;
  font-size: 0.6em;
  color: white;
  opacity: 1;
  margin-bottom: 7%;
  margin-left: 3%;
}

.attribution {
  font-size: 0.4em;
  font-style: italic;
  /*position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

[ng-click]{
  cursor: pointer;
}
