@font-face {
    font-family: RockSalt;
    src: url('../vendor/RockSalt.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url('../vendor/QuattrocentoSans-Regular.ttf');
}

html, body {
  min-height: 100%;
}

body {
  top:0;
  margin:0;
}

/*.container-fluid{
  margin-top:0;
}
*/

/* LOGIN FORM*/
form {
  color:black;
  display: block;
  position: relative;
  padding-top: 3%;
}

form input {
  background:rgba(48, 25, 25, .2);

  border: none;
  margin-top: 10px;

  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

/* Play with this: http://www.css3maker.com/css-3-rgba.html*/
input:focus{
    background:rgba(48, 25, 25, .5);
    outline: none;
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

:-ms-input-placeholder {
   color: #aaa;
   background-color: white;
   opacity: 0.75;
   text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 6px black;
}

/*submit button*/
input[type="submit"] {
  border: 1px solid #fff;
  background: green;
  width: 100px;
  height: 60px;
  border-radius: 10%;
  box-shadow: 2px 2px 10px #000;
  color: #fff;
  font-size: 0.8em;
  /*padding: 4px 25px 4px 25px;*/
  text-shadow: 1px 1px 5px #000;
  background: rgba(48, 135, 43, 0);
  opacity: 0;
  /*visibility: hidden;*/

  -webkit-transition: background 1s, border-color 1s, opacity 1s, hover 1s, box-shadow 1s, border-radius 1s, width 0.5s, height 0.5s, -webkit-transform 0.1s;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties*/
input[type="submit"]:valid{
  background: rgba(48, 135, 43, 0.5);
  opacity: 1;
}

input[type="submit"]:valid:hover{
  background: rgba(48, 135, 43, 1.0);
  box-shadow: 0px 2px 18px #000;
  /*width: 90px;*/
  /*height: 90px;*/
  /*border-radius: 100%;*/
  opacity: 1;
}

/*on button click*/
input[type="submit"]:valid:active{
  -webkit-transform: translateY(3px);
  box-shadow: 0px 0px 4px #000;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  font-size: 4em;

/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}

.logo h1 {
  font-family: RockSalt, sans-serif;
  margin:0;
  padding-top: 2%;
  font-size: 1.5em;
}

.welcome h2 {
  margin:0;
  padding-top: 10%;
  font-size: 0.7em;
}

#img {
  height:500px;
  width:800px;
  background-image: url("http://www.online-image-editor.com//styles/2014/images/example_image.png");
}

.container {
  text-align: center;
}

.weather {
  float:right;
}

.clock {
  float:left;
}

.title {
  margin: 0 auto;
  text-align: center;
}



.container-fluid {
  position: relative;
  min-height: 100%;
}

.row {
  /*min-height: 33%;*/
}

.col-sm-4 {
  border: 1px solid red;
  height: 33vh;
  width: 33vw;
  /*min-height: 100%;*/
}

.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    position: relative;

    top: 80px;
    left: -140px;
    width: 650px;

    font-size: 1em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-transition: top 2s, width 2s, font 3s, opacity 1s;
    /*background:rgba(48, 25, 25, .8);*/
}

.line-clamp:hover {
    overflow : hidden;
    text-overflow: ellipsis;
    /*top: -280px;*/
    top: -270px;
    left: -140px;
    width: 670px;
    font-size: 0.7em;
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.line-clamp:hover > .modal {
  opacity: 0.6;
}

.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: radial-gradient(circle, white, black);*/
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  /*height:100vh;*/
  width:100vw;
  text-align: center;
  opacity:0.9;
  /*z-index: 0;*/
}

.background-splash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background: radial-gradient(circle, white, black);*/
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  height:100vh;
  width:100vw;
  text-align: center;
  opacity:0.8;
}

/*SPLASH PAGE*/
.splash_button_signin, .splash_button_signup {
  border: 2px solid white;
  background: rgba(255, 171, 0, 0.2);
  width: 200px;
  margin: 6% auto;
  display: inline-block;
  color: #fff;

  box-shadow: 0px 3px 19px #000;

  -webkit-transition: -webkit-transform 0.2s, background 1.5s;
}

.splash_button_signin:hover, .splash_button_signup:hover{
  /*-webkit-transform: translate(0px, -10px);*/
  background: rgba(255, 171, 0, 1.0);

}

.splash_button_signin:active{
  -webkit-transform: translate(-5px, 5px);
}
.splash_button_signup:active{
  -webkit-transform: translate(5px, 5px);
}

.modal{
  background: #000;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  -webkit-transition: opacity 1s;
}

.line-clamp:hover > .modal {
  opacity: 0.6;
}

.vignette{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: radial-gradient(circle, #aaa, #000);
  height:100vh;
  width:100vw;
  opacity: 1;
  z-index: 0;
  display: block;
  position: fixed;
}