@font-face {
    font-family: RockSalt;
    src: url('../public/vendor/RockSalt.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url('../public/vendor/QuattrocentoSans-Regular.ttf');
}

html, body {
  min-height: 100%;
}

/* LOGIN FORM*/
form {
  color:black;
  display: block;
  position: relative;
  margin-left: 35%;
  margin-top: 18%;
}

form input {
  background: none;
  border: none;
  margin-top: 10px;

  -webkit-transition-property: background;
  -webkit-transition-duration: 1s;
}

::-webkit-input-placeholder {
    color: #aaa;
    opacity: 0.8;
    text-align: center;
}

/* Play with this: http://www.css3maker.com/css-3-rgba.html*/
input:focus{
    background:rgba(48, 25, 25, .5);
    outline: none;
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #aaa;
    background-color: white;
    opacity: 0.75;
    text-align: center;
}

:-ms-input-placeholder {
   color: #aaa;
   background-color: white;
   opacity: 0.75;
   text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px black;
}

/*submit button*/
input[type="submit"] {
  border: 1px solid #fff;
  margin-left: 167px;
  background: green;
  width: 100px;
  height: 60px;
  border-radius: 10%;
  box-shadow: 2px 2px 10px #000;
  color: #fff;
  font-size: 0.8em;
  /*padding: 4px 25px 4px 25px;*/
  text-shadow: 1px 1px 5px #000;
  background: rgba(48, 135, 43, 0);
  opacity: 0;
  /*visibility: hidden;*/

  -webkit-transition: background 1s, border-color 1s, opacity 1s, hover 1s, box-shadow 1s, border-radius 1s, width 0.5s, height 0.5s, -webkit-transform 0.1s;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties*/
input[type="submit"]:valid{
  background: rgba(48, 135, 43, 0.5);
  opacity: 1;
}

input[type="submit"]:valid:hover{
  background: rgba(48, 135, 43, 1.0);
  box-shadow: 0px 2px 18px #000;
  /*width: 90px;*/
  /*height: 90px;*/
  /*border-radius: 100%;*/
  opacity: 1;
}

/*on button click*/
input[type="submit"]:valid:active{
  -webkit-transform: translateY(3px);
  box-shadow: 0px 0px 4px #000;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  text-shadow: 2px 2px 8px black;
  font-family: QuattrocentoSans-Regular, sans-serif;
  font-size: 4em;

/*  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;*/
}

.title h1 {
  font-family: RockSalt, sans-serif;
}

#img {
  height:500px;
  width:800px;
  background-image: url("http://www.online-image-editor.com//styles/2014/images/example_image.png");
}

.container {
  text-align: center;
}

.weather {
  float:right;
}

.clock {
  float:left;
}

.title {
  margin: 0 auto;
  text-align: center;
}



.container-fluid {
  position: relative;
  min-height: 100%;
}

.row {
  /*min-height: 33%;*/
}

.col-sm-4 {
  border: 1px solid red;
  height: 33vh;
  width: 33vw;
  /*min-height: 100%;*/
}

.line-clamp {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.line-clamp:hover {
    overflow : hidden;
    text-overflow: ellipsis;
    top: -258px;
    display: -webkit-box;
    position: relative;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}
