<div ng-switch-when="signup">
    <form ng-submit="signUp()" name="signUpForm">
        <input type="text" placeholder="Your name" name="uName" ng-model="mainCtrl.user.name" required><br>
        <input type="email" placeholder="email address" name="uEmail" ng-model="mainCtrl.user.email" required><br>
        <input type="text" placeholder="city" name="uCity" ng-model="mainCtrl.user.city" required><br>
        <input type="password" placeholder="password" name="uPassword" ng-model="mainCtrl.user.password" required><br>
        <input type="submit" value="go" ng-disabled="signUpForm.$invalid">
    </form>
</div>
