<div class="background-splash" ng-style="{'background-image':'url({{background}})'}" ng-controller="SignUpController as signup">

<div class="vignette"></div>

    <span class="welcome"><h2>Welcome to</h2></span>
    <div class="logo">
      <h1>NomadR</h1>
    </div>

    <form ng-submit="signUp()" name="signUpForm">
        <input type="text" placeholder="Your name" name="uName" ng-model="signup.user.name" required><br>
        <input type="email" placeholder="email address" name="uEmail" ng-model="signup.user.email" required><br>
        <input type="text" placeholder="city" name="uCity" ng-model="signup.user.city" required><br>
        <input type="submit" value="go" ng-disabled="signUpForm.$invalid">
    </form>
</div>