<div class="background-splash" ng-style="{'background-image':'url({{background}})'}" ng-controller="SignInController as signin">

<div class="vignette"></div>

    <span class="welcome"><h2>Welcome to</h2></span>
    <div class="logo">
      <h1>NomadR</h1>
    </div>

    <form class="signin-form" ng-submit="signIn()" name="signInForm">
        <input type="email" placeholder="Login with email" name="uEmail" ng-model="signin.email" required>
        <input type="submit" value="go" ng-disabled="signInForm.$invalid">
    </form>
</div>